# üß≠ Step 1: Import Libraries

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

sns.set(style="whitegrid")

# üß© Step 2: Load Dataset

In [ ]:
df = sns.load_dataset('titanic')
df.head()

# üîç Step 3: Explore Dataset

In [ ]:
df.info()
df.describe(include='all')

# üßπ Step 4: Data Cleaning

In [ ]:
df = df.copy()

# Fill missing values
df['age'] = df['age'].fillna(df['age'].median())
df['embarked'] = df['embarked'].fillna(df['embarked'].mode()[0])
df['embark_town'] = df['embark_town'].fillna(df['embark_town'].mode()[0])

# Drop unnecessary columns
df = df.drop(['deck'], axis=1)

# Drop duplicates
df = df.drop_duplicates()

# Confirm clean data
df.info()

# üìä Step 5: Univariate Analysis

In [ ]:
sns.countplot(x='survived', data=df)
plt.title("Survival Count (0 = Died, 1 = Survived)")
plt.show()

sns.histplot(df['age'], kde=True)
plt.title("Age Distribution of Passengers")
plt.show()

# üéØ Step 6: Bivariate Analysis

In [ ]:
sns.countplot(x='sex', hue='survived', data=df)
plt.title("Survival by Gender")
plt.show()

sns.countplot(x='class', hue='survived', data=df)
plt.title("Survival by Class")
plt.show()

sns.boxplot(x='survived', y='age', data=df)
plt.title("Age vs Survival")
plt.show()

# üåç Step 7: Multivariate Analysis

In [ ]:
sns.catplot(x='class', hue='sex', col='survived', data=df, kind='count')

# üìà Step 8: Correlation Heatmap

In [ ]:
sns.heatmap(df.corr(numeric_only=True), annot=True, cmap='coolwarm')
plt.title("Correlation Heatmap")
plt.show()

# üßæ Step 9: Save Cleaned Dataset

In [ ]:
df.to_csv("clean_titanic.csv", index=False)

# üí° Insights

In [ ]:
# Insights Summary:
# 1. Most passengers were from Third Class.
# 2. Females had a much higher survival rate than males.
# 3. Higher-class passengers paid higher fares and had better survival chances.
# 4. Median age ‚âà 29 years; younger passengers had better survival chances.
# 5. Data is now fully cleaned and ready for ML or dashboarding.